--find-links https://k2-fsa.github.io/icefall/piper_phonemize.html

torch
torchaudio
numpy
lhotse
huggingface_hub
safetensors
tensorboard
vocos
pydub
gradio
soundfile

# Normalization
cn2an
inflect
soe-vinorm>=0.3.2

# Tokenization
jieba
piper_phonemize
pypinyin
setuptools<81
